body{
    width: 1235px;
    height: 861px;
}
div{
    margin-left: 298px;
    margin-top: 35px;
    width: 514px;
    height: 753px;
    box-shadow: 12px 0px 50px 0px #000000;}
p   {
    margin: 10px;
    }
h1{
    text-align: center;
}
figure{
    text-align: center;
}
