.line{
    border-top: 1px solid black;
 	padding-left: 15px;
 	margin-bottom: 15px;
    border-bottom: 0;
}
.block{
    margin: 0 auto;
    width: 470px;
    box-shadow: 1px 1px 2px 2px #cccccc;
    padding: 0 30px 30px 30px;
    }
p   {
    text-align:left;
    }
h1  {
    text-align: center;
    }
figure{
    text-align: center;
    }
    