.line{
    border-top: 1px solid black;
 	padding-left: 15px;
 	margin-bottom: 15px;
}
div{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 35px;
    margin-bottom:auto;
    box-shadow: 1px 1px 2px 2px #cccccc;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    }
p   {
    text-align:left;
    fo
    }
h1  {
    text-align: center;
    }
figure{
    text-align: center;
    }
    